1. probabilistic hypnogram의 sub_ID를 모두 읽어 온다
2. df_origin에서 각 sub_ID의 정보를 가져온다 (['환자번호', '이름', 'age', 
'PSG study Number#', 'TIB - Total Recording time (min)', 'Sleep latency (min)', 'AHI - Total index A+H', 'ISI  Total-2'])

In [1]:
import os
import glob
import pandas as pd
import numpy as np

In [4]:
# original info
df = pd.read_excel('subject_info\\Brain age_PSG_raw_Total_201216(whole_data).xlsx')#, index_col=0)#, encoding='ISO-8859-1')
df = df.iloc[2:, :]
df.columns = df.iloc[0,:]
df.drop(index=[2], inplace=True)
df['age'] = df['age'].copy()*(-1)
df_origin = df.copy()

# excluded info
df_subject_ID = pd.read_csv('D:\\USC\\code_mine\\txt_to_prob\\subject_info\\PSG_list_by_CYS.csv')
pd_healthy = df_subject_ID.iloc[:,0].dropna()
pd_OSA = df_subject_ID.iloc[:,1].dropna()
pd_INS = df_subject_ID.iloc[:,2].dropna()
pd_COMISA = df_subject_ID.iloc[:,3].dropna()

# info after conversion
path_prob = 'E:\\samsung_original\\whole_data_txt'
list_prob_dir = glob.glob(os.path.join(path_prob, '*prob'))
print(list_prob_dir)

['E:\\samsung_original\\whole_data_txt\\data1_prob', 'E:\\samsung_original\\whole_data_txt\\data2_prob', 'E:\\samsung_original\\whole_data_txt\\data3_prob', 'E:\\samsung_original\\whole_data_txt\\data4_prob', 'E:\\samsung_original\\whole_data_txt\\data5_prob']

In [8]:
df_subject_ID

     Healthy(n=1283) OSA(n=1933) Insomnia(n=727) COMISA(n=785)
0              LE001       LE026        PE160128      PE141014
1              LE002       LE036          N15003      PE141019
2              LE003      N15006          N15009      PE141020
3              LE006      N15007        PE141015      PE141038
4              LE007    PE141017        PE141022      PE141039
...              ...         ...             ...           ...
1928             NaN     ST17015             NaN           NaN
1929             NaN     ST17019             NaN           NaN
1930             NaN     ST17027             NaN           NaN
1931             NaN     ST17030             NaN           NaN
1932             NaN     ST17031             NaN           NaN

[1933 rows x 4 columns]

In [6]:
df_origin = df_origin[['환자번호', '이름', 'age', 
'PSG study Number#', 'TIB - Total Recording time (min)', 'Sleep latency (min)', 'AHI - Total index A+H', 'ISI  Total-2']]

In [11]:
df_origin['PSG study Number#'].str.contains('LE002')

3       False
4       False
5        True
6       False
7       False
        ...
5280    False
5281    False
5282    False
5283    False
5284    False
Name: PSG study Number#, Length: 5282, dtype: bool