In [1]:
# Load excel and Create DataFrame
import os
import pandas as pd

df = pd.read_excel('subject_info\\Brain age_PSG_raw_Total_201216(whole_data).xlsx')#, index_col=0)#, encoding='ISO-8859-1')

# DataFrame initial setting
df = df.iloc[2:, :]
df.columns = df.iloc[0,:]
df.drop(index=[2], inplace=True)
df['age'] = df['age'].copy()*(-1)
df_origin = df.copy()

# # AHI == '.'인 데이터 삭제
# Ex_dot_subjects = df_origin.loc[df_origin['AHI - Total index A+H'] == '.', 'PSG study Number#']
# df = df[df['AHI - Total index A+H'] != '.'].copy()

# # AHI == 'NaN'인 데이터 삭제
# Ex_AHI_nan_subjects = df_origin.loc[df_origin['AHI - Total index A+H'].isna(), ['PSG study Number#', 'AHI - Total index A+H']]
# df.dropna(subset=['AHI - Total index A+H'], inplace=True)

# # ISI == 'NaN'인 데이터 삭제
# Ex_ISI_nan_subjects = df_origin.loc[df_origin['ISI  Total-2'].isna(), ['PSG study Number#', 'ISI  Total-2']]
# df.dropna(subset=['ISI  Total-2'], inplace=True)

# # age가 20세 미만인 subject 
# ExAge_subject = df_origin.loc[df_origin['age']<20, 'PSG study Number#']

# # (TIB-SOL)가 330 미만인 subject 
# df_TIB = df_origin['TIB - Total Recording time (min)'].astype(float)
# df_SOL = df_origin['Sleep latency (min)'].astype(float)
# ExSOL_subject = df_origin.loc[(df_TIB-df_SOL)<330, 'PSG study Number#']

# # 20세 이상 and period after SOL 330 이상인 데이터만 포함
# df = df[ (df['age']>=20) & ((df_TIB-df_SOL)>=330)]

# print('Excluded because of nan AHI value --> n={}'.format(Ex_AHI_nan_subjects.size))
# print('Excluded because of dot AHI value --> n={}'.format(Ex_dot_subjects.size))
# print('Excluded because of nan ISI value --> n={}'.format(Ex_ISI_nan_subjects.size))
# print('Excluded because of age under 20 --> n={}'.format(ExAge_subject.size))
# print('Excluded because of period shorter than 330 m --> n={}'.format(ExSOL_subject.size))

# df

In [2]:
# Create boolean condition of exclusion
# exclusion_1: age<20
con_1 = df_origin['age']<20
print("Number of 'age<20': {}".format(sum(con_1)))

# exclusion_2: empty ISI
con_2 = df_origin['ISI  Total-2'].isna()
print("Number of 'empty ISI': {}".format(sum(con_2)))

# exclusion_3: empty AHI
con_3 = df_origin['AHI - Total index A+H'].isna()
print("Number of 'empty AHI': {}".format(sum(con_3)))

# exclusion_4: ISI == '.'
con_4 = df_origin['ISI  Total-2']=='.'
print("Number of 'ISI of '.'': {}".format(sum(con_4)))

# exclusion_5: AHI == '.'
con_5 = df_origin['AHI - Total index A+H']=='.'
print("Number of 'AHI of '.'': {}".format(sum(con_5)))

Number of 'age<20': 216
Number of 'empty ISI': 203
Number of 'empty AHI': 19
Number of 'ISI of '.'': 0
Number of 'AHI of '.'': 3

In [3]:
# Apply exclusion by the created boolean conditions
df_excluded = df_origin.copy()
total_con = con_1 | con_2 | con_3 | con_4 | con_5
df_excluded = df_excluded.loc[~total_con]
df_excluded.to_excel('subject_info\\Excluded_on_age_NaN_dot.xlsx', encoding='UTF8')
df_excluded

2,환자번호,이름,생년월일,성별,age,PSG-RA DATA 검사일,PSG study Number#,height,weight,BMI,...,Component 5-2,Component 5-3,Component 6,Component 7-3,Component 7-4,NaN,NaN,수정하지 말 것!!!,NaN,함수 숨기기 되어있음
3,35530991,현매선,1944-06-19,F,71.669444,2016-02-20,PE160128,130,48,28.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,77935,이강환,1960-06-18,M,57.461111,2017-12-04 00:00:00,LE001,178,82,25.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,39113664,박준,1988-08-12,M,29.319444,2017-12-07 00:00:00,LE002,177,72,23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,36227186,한정윤,1990-06-12,F,27.541667,2017-12-27 00:00:00,LE003,160,55,21.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,38114431,박규희,1994-01-14,F,23.952778,2017-12-27 00:00:00,LE004,160,50,19.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5280,38563253,조현상,1969-12-03,M,47.813889,2017-09-26 00:00:00,ST17027,172,85,28.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5281,18959296,김성민,1979-06-26,M,38.258333,2017-09-29 00:00:00,ST17028,172,76,25.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5282,38619628,조성환,1987-01-19,M,30.725,2017-10-10 00:00:00,ST17029,174,74,24.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5283,38776428,임대형,1988-10-03,M,29.027778,2017-10-13 00:00:00,ST17030,170,100,34.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5284,7606183,이영중,1961-07-16,M,56.261111,2017-10-20 00:00:00,ST17031,170,62,21.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Create boolean condition for Class division (healthy, OSA, Insomnia, COMISA)

df_excluded_2 = df_excluded.copy() # copy dataframe, just for the case of accident

# df에 'class' column을 추가
df_excluded_2.loc[:, 'class'] = 0

# AHI, ISI column 추출
df_AHI = df_excluded_2['AHI - Total index A+H'].astype(float)
df_ISI = df_excluded_2['ISI  Total-2'] # ISI는 int로 저장되어 있음

# 각 range 조건에 따라서, 해당하는 class를 'class' column에 대입
# 1. Healthy: AHI < 15 and ISI < 15
con_AHI = df_AHI < 15
con_ISI = df_ISI < 15
con_Healhty = con_AHI & con_ISI

# 2. OSA: AHI >= 15 and ISI < 15
con_AHI = df_AHI >= 15
con_ISI = df_ISI < 15
con_OSA = con_AHI & con_ISI

# 3. INS: AHI < 15 and ISI >= 15
con_AHI = df_AHI < 15
con_ISI = df_ISI >= 15
con_Insomnia = con_AHI & con_ISI

# 4. COMISA: AHI >= 15 and ISI >=15
con_AHI = df_AHI >= 15
con_ISI = df_ISI >= 15
con_COMISA = con_AHI & con_ISI

print('Healthy:{}, OSA:{}, INS:{}, COMISA:{}'.format(sum(con_Healhty), sum(con_OSA), sum(con_Insomnia), sum(con_COMISA)))
print('Total: {}'.format(sum([sum(con_Healhty), sum(con_OSA), sum(con_Insomnia), sum(con_COMISA)])))

Healthy:1348, OSA:2016, INS:752, COMISA:830
Total: 4946

In [5]:
# Assign each subject with the corresponding class
df_excluded_2.loc[con_Healhty, 'class'] = 'Healthy'
df_excluded_2.loc[con_OSA, 'class'] = 'OSA'
df_excluded_2.loc[con_Insomnia, 'class'] = 'Insomnia'
df_excluded_2.loc[con_COMISA, 'class'] = 'COMISA'

# class가 부여되지 않은 subject가 있는지 확인
print('Case: Not assigned with class --> n={}'.format(df_excluded_2[['class', '이름']][(df_excluded_2['class'] != 'Healthy') & (df_excluded_2['class'] != 'OSA') & (df_excluded_2['class'] != 'Insomnia') & (df_excluded_2['class'] != 'COMISA')].size))
df_excluded_2.to_excel('subject_info\\Assigned_class_Excluded_on_age_nan_dot.xlsx', encoding='UTF8')
df_excluded_2['class']

Case: Not assigned with class --> n=0

3       Insomnia
4        Healthy
5        Healthy
6        Healthy
7        Healthy
          ...
5280         OSA
5281     Healthy
5282     Healthy
5283         OSA
5284         OSA
Name: class, Length: 4946, dtype: object

In [ ]:
# class column에 따라서 각 class 추출 --> 이건, conversion 끝나고 하자
columns_to_extract = ['PSG study Number#', '이름', '성별', 'age', 
'TIB - Total Recording time (min)', 'Sleep latency (min)', 'AHI - Total index A+H', 'ISI  Total-2']

subject_healthy = df_excluded_2.loc[df_excluded_2['class']=='Healthy', columns_to_extract]
subject_OSA = df_excluded_2.loc[df_excluded_2['class']=='OSA', columns_to_extract]
subject_Insomnia = df_excluded_2.loc[df_excluded_2['class']=='Insomnia', columns_to_extract]
subject_COMISA = df_excluded_2.loc[df_excluded_2['class']=='COMISA', columns_to_extract]

print('Healthy:{}, OSA:{}, INS:{}, COMISA:{}'.format(len(subject_healthy), len(subject_OSA), len(subject_Insomnia), len(subject_COMISA)))

# df_total_subject = pd.DataFrame(columns = ['Healthy(n=1348)', 'OSA(n=2016)', 'Insomnia(n=727)', 'COMISA(n=785)'])
# columns = df_total_subject.columns

# df_total_subject[columns[1]] = subject_OSA.values
# df_total_subject.loc[0:len(subject_healthy)-1, columns[0]] = subject_healthy.values
# df_total_subject.loc[0:len(subject_Insomnia)-1, columns[2]] = subject_Insomnia.values
# df_total_subject.loc[0:len(subject_COMISA)-1, columns[3]] = subject_COMISA.values

# df_total_subject.to_csv('subject_info\\PSG_list_by_CYS.csv', index=False)
# df_total_subject

In [ ]:
new_df = df[['PSG study Number#', 'class', 'Sleep latency (min)', 'TIB - Total Recording time (min)']]
new_df.to_csv('subject_info\\all_class.csv', index=False)
new_df

In [ ]:
sum(new_df['PSG study Number#'] == 'PE190265')

In [ ]:
# overlap subject test
overlaped = subject_Insomnia.value_counts()
overlaped[overlaped>1]