# EDF file을 이용하여, YASA 모델을 이용하여 hypnogram을 predict하고 csv로 저장

# 1. LE dataset

In [1]:
import os
import pandas as pd
import staging_yasa

path_subjects_edf = 'D:\\USC\\Sleep dataset\\Samsung_data\\NEW_EDF'
subjects_edf = os.listdir(path_subjects_edf)
subjects_edf.sort()
print(subjects_edf)

meas_time_df = pd.read_csv('D:\\USC\\code_mine\\Exploration_for_VD_dataset\\meas_time_edf_hypno.csv', index_col=0)
meas_time_df = meas_time_df.loc['LE004':'LE023']
meas_time_df

['LE004-1_edf', 'LE010-3_edf', 'LE011-1_edf', 'LE014-3_edf', 'LE019-1_edf', 'LE020-3_edf', 'LE021-2_edf', 'LE023-3_edf']

,hypno_start,hypno_end,edf_start,edf_duration,edf_end,start_mismatch,end_mismatch
LE004,0:31:00,5:52:00,0:17:47,5:34:26,5:52:13,0,0
LE010,0:24:30,6:36:30,0:16:31,6:20:54,6:37:25,0,0
LE011,0:13:00,6:39:00,0:10:39,6:36:12,6:46:51,0,0
LE014,0:24:30,6:08:00,0:18:44,5:49:56,6:08:40,0,0
LE019,0:32:00,6:18:30,0:12:15,6:07:08,6:19:23,0,0
LE020,0:24:30,6:13:00,0:19:18,5:54:02,6:13:20,0,0
LE021,0:35:00,6:08:00,0:32:14,5:36:08,6:08:22,0,0
LE023,0:33:30,5:45:00,0:32:55,5:13:18,5:46:13,0,0

# 2. VD dataset